## 종목별 연도별 수익률 카테고리화 작업

In [1]:
import FinanceDataReader as fdr
fdr.__version__

'0.6.0'

In [2]:
# import FinanceDataReader as fdr

# 한국거래소 상장종목 전체
df_krx = fdr.StockListing('KRX')
df_krx.head()

   Symbol   Name         Sector                     Industry
0  001040     CJ         기타 금융업                         지주회사
1  011150  CJ씨푸드      기타 식품 제조업   수산물(어묵,맛살)가공품 도매,원양수산업,수출입
2  012630    HDC         건물 건설업  토목공사,건축공사,아파트분양사업,재개발/재건축사업
3  082740  HSD엔진  일반 목적용 기계 제조업               대형선박용엔진,내연발전엔진
4  001390  KG케미칼    기초 화학물질 제조업    콘크리트혼화제, 비료, 친환경농자재, 수처리제

In [3]:
import numpy as np 
from statsmodels import regression 
import statsmodels.api as sm 
import matplotlib.pyplot as plt 
import math 
import pandas as pd 
import pandas_datareader as pdr

In [9]:
def stock_select(code):

    stock_df = fdr.DataReader(code,'2012','2018-09-30')

    # Date를 인덱스에서 제거하고 항목으로 사용
    stock_df = stock_df.reset_index()

    # Date에서 연도를 추출함
    stock_df['Year'] = stock_df.Date.map(lambda x : x.year )
    stock_df['Code'] = code

    return stock_df

### 수익률 계산

In [5]:
# [참고]
# 일별 수익률은 FinanceDataReader에서 제공하고 있으므로 Skip
# rets = np.log(data / data.shift(1))
# rets.mean() * 252

### 연간수익률 만들기

In [219]:
# [참고] 일별 단순평균. 참고만 
data_pivot=stock_df.pivot_table('Change',index='Code',columns='Year', aggfunc='mean')
data_pivot

Year        2012      2013      2014      2015      2016      2017      2018
Code
001040  0.001889  0.000174  0.001329  0.002134 -0.000884  0.000023 -0.001361

In [43]:
# 기하평균 함수
def year_change_cal(stock_df):
    stock_df.sort_values(by='Date', ascending=True, inplace=True) # 오름차순 정렬
    
    year_change = 0
    
    # 일별 loop를 통해 수익률 누적
    for x in range(0,len(stock_df)):
        year_change = (1+year_change) * (1+stock_df.Change.iloc[x])
        
    # 최종 연간 누적수익률 계산
    year_change = ( year_change ** (1/len(stock_df))) - 1
    return year_change

In [221]:
# 1개 종목만 추출해보기
year_change_df = pd.DataFrame()
year_change_dict = {}
year_change_dict['Code'] = '005930'

for year in range(2012,2019):
    target_df = stock_df[stock_df.Year==year]
    year_change = year_change_cal(target_df)
    year_change_dict[str(year)] = year_change

    
year_change_df = pd.Series(year_change_dict).to_frame()
year_change_df = year_change_df.T

# 마지막해 수익률 연율화
# 위에서 2018 3분기까지 가져옴. 1년치로 전환
# 0.0264496,  (1 + 0.0264496)^(4/3)-1
year_change_df['2018'] = year_change_df['2018'].map(lambda x : (1+x)**(4/3)-1)

year_change_df

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,Code,2012,2013,2014,2015,2016,2017,2018
0,005930,0.0238309,0.0221622,0.0217195,0.0213729,0.0207847,0.0214806,0.035331

## 상승하락 강도구하기! 
연도별 상승 하락 일수로 2차 미분 시행

In [62]:
from matplotlib.pyplot import *
from scipy.interpolate import *

def updown_strength(up_days,down_days):
    
    # 3차 다항식생성
    x = list(range(1,len(up_days)+1))
    print(x)
    up_p3 = polyfit(x,up_days,3)
    x = list(range(1,len(down_days)+1))
    down_p3 = polyfit(x,down_days,3)
    return up_p3, down_p3

m1, m2 = updown_strength([2,3,4,5,6],[2,45,61,72,53])

[1, 2, 3, 4, 5]

NameError: name 'polyfit' is not defined

## 상장종목 전체 수익률 구하기

In [50]:

year_change_df = pd.DataFrame()
year_days_df = pd.DataFrame()
    
    
for x in range(0,len(df_krx)):
    # 종목 데이터 추출
    code = df_krx.Symbol.iloc[x]
    name = df_krx.Name.iloc[x]
    try:
        stock_df = stock_select(code)
    except:
        print(code, name, "종목정보 추출 실패")
        continue
    
    # 초기화
    temp_change_df = pd.DataFrame()
    year_change_dict = {}
    year_change_dict['Code'] = code
    year_change_dict['Name'] = name
    # 일수체크 관련 변수
    temp_days_df = pd.DataFrame()
    year_days_dict = {}
    year_days_dict['Code'] = code
    year_days_dict['Name'] = name    
    
    # 연도별 수익률 계산
    for year in range(2012,2019):
        target_df = stock_df[stock_df.Year==year]
        
        try:
            # 연간 기하평균 수익률
            year_change = year_change_cal(target_df)
            year_change_dict[str(year)] = year_change
            
            # 상승/하락일 카운팅
            up_days = len(target_df.query("Change >= 0.03")) 
            down_days = len(target_df.query("Change < -0.03")) 
            tot_days = len(target_df)
            
            year_days_dict["up_" + str(year)] = up_days
            year_days_dict["down_" + str(year)] = down_days
            year_days_dict["tot_" + str(year)] = tot_days
            
            try:
                up_strength, down_strength = updown_strength(year_days_dict["up_" + str(year)].values, year_days_dict["down_" + str(year)].values)
            except:
                print("updown_strength 계산 오류")
                up_strength = ""
                down_strength = ""
                
                
        except:
            year_change = ""            

    temp_change_df = pd.Series(year_change_dict).to_frame()
    temp_change_df = temp_change_df.T
    temp_days_df = pd.Series(year_days_dict).to_frame()
    temp_days_df = temp_days_df.T



    try:
        # 마지막해 수익률 연율화
        # 위에서 2018 3분기까지 가져옴. 1년치로 전환
        # 0.0264496,  (1 + 0.0264496)^(4/3)-1
        temp_change_df['2018'] = temp_change_df['2018'].map(lambda x : (1+x)**(4/3)-1)
        year_change_df = pd.concat([year_change_df, temp_change_df]) # 이전 데이터와 연결
        print(x, "번 : ", code, name, "수익률 생성완료")
    except:
        print(x, "번 : ", code,name, "수익률 생성실패")
        break

    try:
        year_days_df = pd.concat([year_days_df, temp_days_df]) # 이전 데이터와 연결
        print(x, "번 : ", code, name, "Days 생성완료")
    except:
        print(x, "번 : ", code,name, "Days 생성실패")
        break
    

year_change_df

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

0 번 :  001040 CJ 수익률 생성완료
0 번 :  001040 CJ Days 생성완료
1 번 :  011150 CJ씨푸드 수익률 생성완료
1 번 :  011150 CJ씨푸드 Days 생성완료
012630 HDC 종목정보 추출 실패
3 번 :  082740 HSD엔진 수익률 생성완료
3 번 :  082740 HSD엔진 Days 생성완료
4 번 :  001390 KG케미칼 수익률 생성완료
4 번 :  001390 KG케미칼 Days 생성완료
5 번 :  010060 OCI 수익률 생성완료
5 번 :  010060 OCI Days 생성완료
6 번 :  002360 SH에너지화학 수익률 생성완료
6 번 :  002360 SH에너지화학 Days 생성완료
7 번 :  001740 SK네트웍스 수익률 생성완료
7 번 :  001740 SK네트웍스 Days 생성완료
8 번 :  011810 STX 수익률 생성완료
8 번 :  011810 STX Days 생성완료
9 번 :  071970 STX중공업 수익률 생성완료
9 번 :  071970 STX중공업 Days 생성완료

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:67: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

10 번 :  024070 WISCOM 수익률 생성완료
10 번 :  024070 WISCOM Days 생성완료
011420 갤럭시아에스엠 종목정보 추출 실패

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:60: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

12 번 :  267290 경동도시가스 수익률 생성완료
12 번 :  267290 경동도시가스 Days 생성완료
13 번 :  002240 고려제강 수익률 생성완료
13 번 :  002240 고려제강 Days 생성완료
14 번 :  001290 골든브릿지증권 수익률 생성완료
14 번 :  001290 골든브릿지증권 Days 생성완료
014530 극동유화 종목정보 추출 실패
16 번 :  214330 금호에이치티 수익률 생성완료
16 번 :  214330 금호에이치티 Days 생성완료
17 번 :  013700 까뮤이앤씨 수익률 생성완료
17 번 :  013700 까뮤이앤씨 Days 생성완료
18 번 :  090350 노루페인트 수익률 생성실패

,2012,2013,2014,2015,2016,2017,2018,Code,Name
0,0.0238309,0.0221622,0.0217195,0.0213729,0.0207847,0.0214806,0.035331,001040,CJ
0,0.0229535,0.0220815,0.0215381,0.0214025,0.0216315,0.0215846,0.036388,011150,CJ씨푸드
0,0.0215987,0.0224308,0.0210204,0.0194923,0.0195561,0.021273,0.040478,082740,HSD엔진
0,0.0236335,0.0227913,0.0213533,0.0204059,0.0224452,0.0233776,0.034644,001390,KG케미칼
0,0.0216813,0.022888,0.0178584,0.0191435,0.0197449,0.0214233,0.032420,010060,OCI
0,0.0240878,0.021193,0.0228402,0.0193525,0.0202813,0.0197813,0.033499,002360,SH에너지화학
0,0.0220158,0.0223868,0.0202847,0.018546,0.0210161,0.0206686,0.035537,001740,SK네트웍스
0,0.0217215,0.012137,0.0248094,0.0292704,0.0213271,0.125925,0.085129,011810,STX
0,0.0225245,0.0163158,0.0518391,0.0309911,0.0217065,0.0255349,0.030505,071970,STX중공업
0,0.0225665,0.0225299,0.0223952,0.0220869,0.0223411,0.0225794,0.037709,024070,WISCOM
0,NaN,NaN,NaN,NaN,NaN,0.0330184,0.038773,267290,경동도시가스
0,0.0219242,0.0235677,0.0230682,0.0204927,0.0224817,0.0224432,0.037426,002240,고려제강
0,0.0219282,0.0481917,0.0238549,0.0204011,0.0217527,0.0332172,0.043213,001290,골든브릿지증권
0,NaN,NaN,NaN,0.110667,0.0211043,0.0214203,0.036761,214330,금호에이치티
0,0.0218123,0.0241146,0.0229016,0.0230904,0.0211768,0.0224831,0.035814,013700,까뮤이앤씨

In [53]:
year_days_df

,Code,Name,down_2012,down_2013,down_2014,down_2015,down_2016,down_2017,down_2018,tot_2012,...,tot_2016,tot_2017,tot_2018,up_2012,up_2013,up_2014,up_2015,up_2016,up_2017,up_2018
0,001040,CJ,9,21,16,29,18,9,6,248,...,267,261,198,15,20,22,41,17,11,11
0,011150,CJ씨푸드,26,8,8,34,12,1,9,248,...,260,254,196,27,8,9,34,11,3,9
0,082740,HSD엔진,15,18,16,16,42,34,19,248,...,277,261,182,17,25,21,11,55,48,32
0,001390,KG케미칼,8,6,10,27,8,12,30,248,...,250,260,205,16,17,16,25,5,21,31
0,010060,OCI,16,7,26,29,30,15,27,248,...,283,284,218,17,12,11,33,35,20,27
0,002360,SH에너지화학,57,23,20,29,18,7,10,248,...,282,285,213,53,22,27,29,18,5,13
0,001740,SK네트웍스,15,12,20,25,10,3,6,248,...,275,272,205,14,7,24,25,12,8,10
0,011810,STX,22,80,66,36,72,16,12,248,...,275,39,67,22,60,56,33,63,13,6
0,071970,STX중공업,24,73,NaN,18,67,25,26,248,...,256,188,211,27,60,NaN,13,46,25,18
0,024070,WISCOM,0,0,3,1,2,2,5,248,...,246,243,183,0,0,5,0,2,1,1
0,267290,경동도시가스,NaN,NaN,NaN,NaN,NaN,4,6,NaN,...,NaN,157,182,NaN,NaN,NaN,NaN,NaN,10,10
0,002240,고려제강,7,10,9,17,9,5,9,248,...,249,246,186,6,8,9,18,17,4,9
0,001290,골든브릿지증권,19,6,15,44,14,12,20,248,...,249,163,160,20,19,10,34,22,17,25
0,214330,금호에이치티,NaN,NaN,NaN,0,18,12,11,NaN,...,254,251,193,NaN,NaN,NaN,3,13,6,14
0,013700,까뮤이앤씨,38,38,13,28,7,9,20,248,...,246,245,200,32,41,26,42,4,10,21