# 종목별 연도별 상승일/하락일 계산

상승하락일 기준 수익률 1%, -1%

관련파일 :

In [1]:
import FinanceDataReader as fdr
fdr.__version__

'0.6.0'

In [2]:
import numpy as np 
from statsmodels import regression 
import statsmodels.api as sm 
import matplotlib.pyplot as plt 
import math 
import pandas as pd 
import pandas_datareader as pdr

In [3]:
# import FinanceDataReader as fdr

# 한국거래소 상장종목 전체
# 상폐는 조회안되는 듯
df_krx = fdr.StockListing('KRX')
len(df_krx)

2216

### 1. 종목별 기간 조회 함수 정의

In [4]:
def stock_select(code,strt_year='2012', end_date='2018-09-30'):

    stock_df = fdr.DataReader(code,strt_year,end_date)

    # Date를 인덱스에서 제거하고 항목으로 사용
    stock_df = stock_df.reset_index()

    # Date에서 연도를 추출함
    stock_df['Year'] = stock_df.Date.map(lambda x : x.year )
    stock_df['Code'] = code

    # 최고수익률, 최저수익률 계산
    bf_close = stock_df['Close']/(1+stock_df['Change'])
    stock_df['high_change'] = (stock_df['High']-bf_close)/bf_close 
    stock_df['low_change'] = (stock_df['Low']-bf_close)/bf_close

    
    return stock_df

In [12]:
stock_df = stock_select('049070', '2012','2015')
stock_df.head()

,Date,Close,Open,High,Low,Volume,Change,Year,Code,high_change,low_change
0,2014-03-14,21650,21850,22200,21450,32100.0,-0.0137,2014,049070,0.011356,-0.022811
1,2014-03-17,21550,21700,21800,20850,75510.0,-0.0046,2014,049070,0.006948,-0.036933
2,2014-03-18,21450,21700,21800,21450,20610.0,-0.0046,2014,049070,0.011642,-0.004600
3,2014-03-19,21350,21650,21650,21300,6470.0,-0.0047,2014,049070,0.009285,-0.007031
4,2014-03-20,21600,21300,21750,21300,16660.0,0.0117,2014,049070,0.018726,-0.002351

In [22]:

    
for x in range(0,5):  #len(df_krx)  체크
    # 종목 데이터 추출
    code = df_krx.Symbol.iloc[x]
    name = df_krx.Name.iloc[x]

    
    # 초기화
    temp_days_df = pd.DataFrame()
    year_days_dict = {}
    year_days_dict['Code'] = code
    year_days_dict['Name'] = name    

    # 연도별 일수 계산
    for year in range(2012,2018+1):  # 변경확인 


        # 종목별 기간별 데이터 추출
        try:
            if year == 2018: # 변경확인
                end_year = '2018-09-30' # 변경확인
            else:
                end_year = year+1
            stock_df = stock_select(code, str(year),str(end_year))
            target_df = stock_df[stock_df['Year'] == year]
            print(code, name, target_df['Date'].min(), "-", target_df['Date'].max(), "추출")
            
        except:
            print(code, name, year, "종목정보 추출 실패")
            # 연도별 일수 변수에 저장
            year_days_dict["up_" + str(year)] = ""
            year_days_dict["down_" + str(year)] = ""
            year_days_dict["tot_" + str(year)] = ""
            year_days_dict["high_" + str(year)] = ""
            year_days_dict["low_" + str(year)] = ""   
            continue
        
        try:
            # 상승/하락일 카운팅
            up_days = len(target_df.query("Change >= 0.01")) 
            down_days = len(target_df.query("Change <= -0.01")) 
            tot_days = len(target_df)
            
            # 상한가/하한가 근접일수 카운팅
            high_days = len(target_df.query("high_change >= 0.25")) 
            low_days = len(target_df.query("low_change <= -0.25")) 
            
        except:
            up_days = ""         
            down_days = ""
            tot_days = ""
            high_days = ""
            low_days = ""
        
        # 연도별 일수 변수에 저장
        year_days_dict["up_" + str(year)] = up_days
        year_days_dict["down_" + str(year)] = down_days
        year_days_dict["tot_" + str(year)] = tot_days   
        year_days_dict["high_" + str(year)] = high_days   
        year_days_dict["low_" + str(year)] = low_days   
        
    # 연도별 데이터를 임시데이터프레임에 저장(1개종목)
    temp_days_df = pd.Series(year_days_dict).to_frame()
    temp_days_df = temp_days_df.T



    try:
        year_days_df = pd.concat([year_days_df, temp_days_df]) # 이전 데이터와 연결
        print(x, "번 : ", code, name, "Days 생성완료")
    except:
        print(x, "번 : ", code,name, "Days 생성실패")
        break

001040 CJ 2012-01-02 00:00:00 - 2012-12-28 00:00:00 추출
001040 CJ 2013-01-02 00:00:00 - 2013-12-31 00:00:00 추출
001040 CJ 2014-01-01 00:00:00 - 2014-12-30 00:00:00 추출
001040 CJ 2015-01-02 00:00:00 - 2015-12-30 00:00:00 추출
001040 CJ 2016-01-03 00:00:00 - 2016-12-29 00:00:00 추출
001040 CJ 2017-01-01 00:00:00 - 2017-12-28 00:00:00 추출
001040 CJ 2018-01-02 00:00:00 - 2018-09-30 00:00:00 추출
0 번 :  001040 CJ Days 생성완료
011150 CJ씨푸드 2012-01-02 00:00:00 - 2012-12-28 00:00:00 추출
011150 CJ씨푸드 2013-01-02 00:00:00 - 2013-12-31 00:00:00 추출
011150 CJ씨푸드 2014-01-02 00:00:00 - 2014-12-30 00:00:00 추출
011150 CJ씨푸드 2015-01-02 00:00:00 - 2015-12-30 00:00:00 추출
011150 CJ씨푸드 2016-01-04 00:00:00 - 2016-12-29 00:00:00 추출
011150 CJ씨푸드 2017-01-02 00:00:00 - 2017-12-28 00:00:00 추출
011150 CJ씨푸드 2018-01-02 00:00:00 - 2018-09-30 00:00:00 추출
1 번 :  011150 CJ씨푸드 Days 생성완료
012630 HDC 2012 종목정보 추출 실패
012630 HDC 2013 종목정보 추출 실패
012630 HDC 2014 종목정보 추출 실패
012630 HDC 2015 종목정보 추출 실패
012630 HDC 2016 종목정보 추출 실패
012630 HDC 2017 종목정보 추출 실패
012630 HDC 2018 종목정보 추출 실패
2 번 :  012630 HDC Days 생성완료

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:59: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

082740 HSD엔진 2012-01-02 00:00:00 - 2012-12-28 00:00:00 추출
082740 HSD엔진 2013-01-02 00:00:00 - 2013-12-31 00:00:00 추출
082740 HSD엔진 2014-01-02 00:00:00 - 2014-12-30 00:00:00 추출
082740 HSD엔진 2015-01-01 00:00:00 - 2015-12-30 00:00:00 추출
082740 HSD엔진 2016-01-04 00:00:00 - 2016-12-29 00:00:00 추출
082740 HSD엔진 2017-01-02 00:00:00 - 2017-12-28 00:00:00 추출
082740 HSD엔진 2018-01-02 00:00:00 - 2018-09-28 00:00:00 추출
3 번 :  082740 HSD엔진 Days 생성완료
001390 KG케미칼 2012-01-02 00:00:00 - 2012-12-28 00:00:00 추출
001390 KG케미칼 2013-01-02 00:00:00 - 2013-12-31 00:00:00 추출
001390 KG케미칼 2014-01-01 00:00:00 - 2014-12-30 00:00:00 추출
001390 KG케미칼 2015-01-01 00:00:00 - 2015-12-30 00:00:00 추출
001390 KG케미칼 2016-01-04 00:00:00 - 2016-12-29 00:00:00 추출
001390 KG케미칼 2017-01-02 00:00:00 - 2017-12-28 00:00:00 추출
001390 KG케미칼 2018-01-01 00:00:00 - 2018-09-28 00:00:00 추출
4 번 :  001390 KG케미칼 Days 생성완료

In [23]:
year_days_df

,Code,Name,down_2012,down_2013,down_2014,down_2015,down_2016,down_2017,down_2018,tot_2012,...,tot_2016,tot_2017,tot_2018,up_2012,up_2013,up_2014,up_2015,up_2016,up_2017,up_2018
0,001040,CJ,48,79,70,80,84,72,54,248,...,267,261,198,61,74,76,91,62,61,38
0,011150,CJ씨푸드,66,55,43,72,70,39,41,248,...,260,254,196,76,43,41,78,63,36,38
0,012630,HDC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,082740,HSD엔진,74,76,80,83,97,96,51,248,...,277,261,182,65,68,64,57,89,85,69
0,001390,KG케미칼,44,50,64,78,44,54,65,248,...,250,260,205,52,60,68,71,51,55,68

In [40]:
bf_close = Close/(1-Change)

27699.530516431925

In [25]:
target_df

          Date  Close   Open   High    Low     Volume  Change  Year    Code
0   2018-01-01  24500  24500  24500  24500        0.0  0.0000  2018  001390
1   2018-01-02  26950  25100  27500  25050   624970.0  0.1000  2018  001390
2   2018-01-03  27700  27800  29150  26900   881320.0  0.0278  2018  001390
3   2018-01-04  26550  27000  27900  25800   573460.0 -0.0415  2018  001390
4   2018-01-05  27200  26600  27650  26250   464810.0  0.0245  2018  001390
5   2018-01-07  27200  27200  27200  27200        0.0  0.0000  2018  001390
6   2018-01-08  26400  27200  28250  25850   456660.0 -0.0294  2018  001390
7   2018-01-09  26200  26350  26700  25000   389180.0 -0.0076  2018  001390
8   2018-01-10  24800  26400  26650  24800   352230.0 -0.0534  2018  001390
9   2018-01-11  25750  24850  25900  24500   267290.0  0.0383  2018  001390
10  2018-01-12  26000  26050  26300  25200   240490.0  0.0097  2018  001390
11  2018-01-14  26000  26000  26000  26000        0.0  0.0000  2018  001390
12  2018-01-15  25000  26200  26300  24750   283260.0 -0.0385  2018  001390
13  2018-01-16  29000  25200  29700  24800  1030000.0  0.1600  2018  001390
14  2018-01-17  28200  29000  29500  27600   421270.0 -0.0276  2018  001390
15  2018-01-18  28400  28200  29200  27750   321830.0  0.0071  2018  001390
16  2018-01-19  27250  28450  28700  26650   451920.0 -0.0405  2018  001390
17  2018-01-21  27250  27250  27250  27250        0.0  0.0000  2018  001390
18  2018-01-22  27900  27300  28200  26700   262630.0  0.0239  2018  001390
19  2018-01-23  28200  28000  28550  27150   200120.0  0.0108  2018  001390
20  2018-01-24  27450  28500  28500  27100   312010.0 -0.0266  2018  001390
21  2018-01-25  26500  27500  27800  26250   435180.0 -0.0346  2018  001390
22  2018-01-26  26700  26500  27050  25350   377690.0  0.0075  2018  001390
23  2018-01-29  27200  27200  27650  26400   245780.0  0.0187  2018  001390
24  2018-01-30  27250  27100  27350  26200   263110.0  0.0018  2018  001390
25  2018-01-31  26950  26750  27450  26650   190930.0 -0.0110  2018  001390
26  2018-02-01  27800  27200  27950  26350   201290.0  0.0315  2018  001390
27  2018-02-02  26550  28150  28150  26550   207250.0 -0.0450  2018  001390
28  2018-02-05  23000  25400  26000  22950   524100.0 -0.1337  2018  001390
29  2018-02-06  23050  21600  23500  20800   741770.0  0.0022  2018  001390
..         ...    ...    ...    ...    ...        ...     ...   ...     ...
175 2018-08-19  27500  27500  27500  27500        0.0  0.0000  2018  001390
176 2018-08-20  26600  27450  27550  26500    46560.0 -0.0327  2018  001390
177 2018-08-21  27400  26650  27500  26650    61600.0  0.0301  2018  001390
178 2018-08-22  26600  27400  27550  26600    42700.0 -0.0292  2018  001390
179 2018-08-23  27600  26600  27600  26400    47910.0  0.0376  2018  001390
180 2018-08-24  27000  27750  27750  27000    28400.0 -0.0217  2018  001390
181 2018-08-27  27100  27000  27350  26900    22720.0  0.0037  2018  001390
182 2018-08-28  26400  27300  27300  26350    49460.0 -0.0258  2018  001390
183 2018-08-29  26200  26500  26850  26050    44540.0 -0.0076  2018  001390
184 2018-08-30  26600  26200  26600  25450    91880.0  0.0153  2018  001390
185 2018-08-31  27200  26050  27650  25850    92280.0  0.0226  2018  001390
186 2018-09-03  26600  27300  27350  26200    62410.0 -0.0221  2018  001390
187 2018-09-04  26950  26750  27150  26450    45350.0  0.0132  2018  001390
188 2018-09-05  26800  26800  27050  26500    27680.0 -0.0056  2018  001390
189 2018-09-06  26400  26850  26850  26300    24920.0 -0.0149  2018  001390
190 2018-09-07  27500  26500  27750  26100    89440.0  0.0417  2018  001390
191 2018-09-10  28150  27400  28400  27200    86130.0  0.0236  2018  001390
192 2018-09-11  27950  28300  29150  27900   100900.0 -0.0071  2018  001390
193 2018-09-12  27900  27850  28250  27600    49270.0 -0.0018  2018  001390
194 2018-09-13  27300  27700  28150  27250    24300.0 -0.0215  2018  001390
195 2018-09-14  27500  27500  27650  27050    25110.0  0.0073  2018  001390
196 2018-09-16  27500  27500  27500  27500        0.0  0.0000  2018  001390
197 2018-09-17  27250  27700  27900  27050    21490.0 -0.0091  2018  001390
198 2018-09-18  26700  27450  27550  26450    72270.0 -0.0202  2018  001390
199 2018-09-19  26350  27050  27200  26100    58210.0 -0.0131  2018  001390
200 2018-09-20  25000  26550  26550  24500   220520.0 -0.0512  2018  001390
201 2018-09-21  24800  25150  25550  24500   147830.0 -0.0080  2018  001390
202 2018-09-26  24800  24800  24800  24800        0.0  0.0000  2018  001390
203 2018-09-27  24550  24800  25450  24500    74900.0 -0.0101  2018  001390
204 2018-09-28  24450  24600  25050  24450    69230.0 -0.0041  2018  001390

[205 rows x 9 columns]